@font-face {
  font-family: ff-mark;
  src: url(../fonts/FontFont_FF.Mark.Pro.Medium.otf);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #eeeeee;
  font-family: ff-mark;
}

.o-main-container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.o-main-panel {
  display: flex;
  width: 1280px;
  height: 720px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.o-left-panel {
  padding: 65px 65px 20px 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.o-logo {
  width: 32px;
}

.o-title {
  font-family: 1.5rem;
}

.o-input-section {
  width: 100%;
}

.o-input-text {
  position: relative;
  margin-bottom: 20px;
}

.placeholder {
  text-transform: uppercase;
  font-size: 10px;
  font-family: ff-mark;
  font-weight: 700;
  color: #ababab;
  position: absolute;
  top: 35%;
  left: 15px;
  user-select: none;
  pointer-events: none;
  transition: 0.095s;
}

.o-input-text input {
  font-family: ff-mark;
  font-size: 16px;
  background: #ededed;
  width: 100%;
  height: 50px;
  padding: 10px 0px 0px 8px;
  display: inline-block;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
}

.o-input-text input:focus {
  background: #f9f9f9;
  border: 2px solid #212121;
}

.o-input-text input:focus ~ .placeholder,
.o-input-text input:valid ~ .placeholder {
  top: 10%;
  left: 8px;
  font-size: 9px;
  transition: 0.095s;
}

.o-help-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.o-help-section a {
  color: #ababab;
  text-decoration: none;
}

.o-help-section a:hover {
  color: #212121;
}

.o-rounded-button {
  background-color: transparent;
  border: 2px solid #ededed;
  border-radius: 22px;
  width: 70px;
  height: 70px;
  outline: none;
  cursor: pointer;
  font-size: 32px;
  color: #ededed;
}

.o-rounded-button:focus {
  background-color: #d13639;
  border: none;
  color: #ededed;
}
